@model MobEyeTest.Models.FormJson

@{
    ViewData["Title"] = "FormDisplay";
}

    <h4>Form Display</h4>

<div>
   
    <hr />
    
</div>
<div>

    <form asp-action="SaveFormDetails" >
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.FormContent)
        </form>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var data2=@Html.Raw((Model.FormContent));
      
        data2.form.forEach(myFunction);
        $('form').append(`<input type="submit" id="saveFormContent" />`);
        function myFunction(item, index) {
            if (item.type == "text") {
                $('form').append(item.label, ` <br /><input class="Question" type="textbox" name="${item.label}"/><br />`).add();

            }
            if (item.type == "radio") {
                $('form').append(`${item.label}<br />`);
                for (var value of item.options) {
                    $('form').append(`<input class="Question" type="radio" id="${value}" name="${item.label}"  value="${value}">`)
                        .append(`<label for="${value}">${value}</label>`);

                }
                $('form').append(`<br />`);
            }
            if (item.type == "checkbox") {
                $('form').append(`${item.label}<br />`);
                for (var value of item.options) {
                    $('form').append(`<input class="Question" type="checkbox" id="${value}" name="${item.label}" value="${value}">`)
                        .append(`<label for="${value}">${value}</label>`);

                }
                $('form').append(`<br />`);

            }

        }

        $("#saveFormContent").click(function () {
         
            var form = [];
            var mainForm = {};
            var id = @Html.Raw((Model.Id));

            $("input[class=Question]").each(function () {

                if ($(this)[0].type == 'text') {
                    item = {}

                    item["type"] = $(this)[0].type;
                    item["label"] = $(this)[0].name;
                    item["options"] = $(this)[0].value;
                    form.push(item);


                } else if ($(this)[0].type == 'radio' && $(this).is(":checked")) {
                    item = {}

                    item["type"] = $(this)[0].type;
                    item["label"] = $(this)[0].name;


                    item["options"] = $(this)[0].value;
                    form.push(item);

                } else if ($(this)[0].type == 'checkbox' && $(this).is(":checked")) {
                    var isExists = false;
                    var toMatch = $(this)[0].name;
                    var valuetoFill = $(this)[0].value;
                    $.each(form, function (key, value) {
                        if (value.label == toMatch) {
                            isExists = true;
                            value.options.push(valuetoFill);

                        }
                       
                    });
                    if (isExists) {

                    }
                    else {
                        item = {}

                        item["type"] = $(this)[0].type;
                        item["label"] = $(this)[0].name;

                        var checkoptions = [];

                        checkoptions.push($(this)[0].value);
                        item["options"] = checkoptions;
                        form.push(item);
                    }
                   
                }


            });
            mainForm["form"]=form;
            $('#Id').val(0);
            $('#FormContent').val(JSON.stringify(mainForm));


        });
    });
</script>

