@model MobEyeTest.Models.FormJson

@{
    ViewData["Title"] = "FormDisplay";
}

    <h1>Form Display</h1>

<div>
    <h4>FormJson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormContent)
        </dd>
    </dl>
</div>
<div>

    <form >

        </form>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //var data = @Model.FormContent;
        var data2=@Html.Raw((Model.FormContent));
        //$('form1').jsonForm({
        //    "schema": data2
        //});
        data2.form.forEach(myFunction);
        $('form').append(`<input type="submit" />`);
        function myFunction(item, index) {
            if (item.type == "text") {
                $('form').append(item.label,' <br /><input type="textbox"/><br />').add();
                
            }
            if (item.type == "radio") {
                $('form').append(`${item.label}<br />`);
                for (var value of item.options) {
                    $('form').append(`<input type="radio" id="${value}" name="${item.label}"  value="${value}">`)
                        .append(`<label for="${value}">${value}</label></div>`);

                }
                $('form').append(`<br />`);
            }
            if (item.type == "checkbox") {
                $('form').append(`${item.label}<br />`);
                for (var value of item.options) {
                    $('form').append(`<input type="checkbox" id="${value}" name="${item.label}" value="${value}">`)
                        .append(`<label for="${value}">${value}</label></div>`);

                }
                $('form').append(`<br />`);

            }
           
        }
    });
</script>
@*<script>
        $('form1').jsonForm({
            "schema": model.FormContent
        });
    </script>*@
