@model IEnumerable<MobEyeTest.Models.FormDetails>

@{
    ViewData["Title"] = "ListIndex";
}

<h3>List Of Forms data submitted</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("All Form Details")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromDetailsEntered)
            </td>
            <td>
               
                <a asp-action="FormDetails" asp-route-id="@item.Id">Details</a> |
 
            </td>
        </tr>
}
    </tbody>
</table>
